<div class="container">
  {{usuarioForm.valid}}
  <br>
  {{usuarioForm.invalid}}

  <div *ngIf="usuarioForm.invalid" class="alert alert-danger">
    Preencha todos os campos do formulário corretamente!
  </div>

    <form #usuarioForm="ngForm" (ngSubmit)="salvar(usuarioForm)">
      <div class="form-group">
        <label class="form-control-label">Nome</label>
        <input type="text" class="form-control" name="primeiroNome"
         [(ngModel)]="cliente.nome" autocomplete="nome" required minlength="10">
      </div>

      <div class="form-group">
        <label class="form-control-label">E-mail</label>
        <input type="text" class="form-control" name="emailAddress"
          [(ngModel)]="cliente.email" autocomplete="emailAddress" required email>
      </div>

      <div class="form-group">
        <label class="form-control-label">Profissão</label>
        <select class="form-control" name="profissao"
          ngModel required>
          <option value="">Selecione</option>
          <option *ngFor="let profissao of profissoes">{{profissao}}</option>
        </select>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="usuarioForm.invalid">Salvar</button>
    </form>

  </div>
